<!--<div class="input-field col s3">
  <label>Materialize Select</label>
  <br>
    <select class="browser-default">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>-->

  <nav>
    <div class="nav-wrapper">
      <a routerLink="menu" class="brand-logo right"> Home </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="menu">Menu</a></li>
      </ul>
    </div>
  </nav>

<app-menu></app-menu>

<app-chart></app-chart>

<router-outlet></router-outlet>